body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero {
  background: linear-gradient(to right, #ffde59, #15118a);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alteração para flex-start */
  padding: 20px;
}

.hero img {
  width: 100%; /* Defina a largura desejada para a imagem */
  height: auto; /* Mantém a proporção da altura */
  max-width: 100px; /* Defina o limite máximo de largura */
}

.hero-text {
  margin-left: 20px;
}

h1 {
  font-size: 34px;
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

.comparison-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.amazon-section,
.mercadolivre-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.amazon-section h3,
.mercadolivre-section h3 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.chart-container {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

.result {
  text-align: center;
  margin-top: 20px;
}

.score-bold {
  font-weight: bold;
}

.comment {
  margin-top: 10px;
}

.comment-text {
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
}

.social-links img {
  width: 24px;
  height: 24px;
}
